<div class="container mt-3">
    <div class="action-box col-12">
        <div class="action-details col-2">
            <h3 style="font-weight: 700;">{{ event.title }}</h3>
            <p><strong>Data:</strong> {{ event.date }}</p>
            <p><strong>Lokalizacja:</strong> {{ event.location }}</p>
            <button class="btn" [routerLink]="['/akcje/szczegóły', event?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Szczegóły Akcji</button>
            <button class="btn" [routerLink]="['/akcje/edytuj', event?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Edytuj Akcje</button>
        </div>
        <div class="col-3">
            <p><strong>Opis:</strong> {{ event.description }}</p>
        </div>
        <div class="action-buttons col-2">
           
            <button class="btn" (click)="toggleList()">Pokaż listy uczestników</button>
            <button class="btn" (click)="toggleAdd()">Dodaj uczestnika do listy</button>
            <button class="btn" (click)="toggleRemove()">Usuń uczestnika z listy</button>
            
        </div>
         <!-- Lista Podstawowa -->
        <div class="col-4 text-center">
            <h6 class="mb-2">Lista podstawowa:</h6>
            <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
                @if(event.seats <= 0){
                    <button
                    type="button"
                    class="btn btn-secondary"
                    >
                    {{ event.time }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ event.seats }}</small>
                  </button>
                } @else {
                <button
                    type="button"
                    class="btn btn-primary"
                >
                    {{ event.time }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ event.seats }}</small>
                </button>
                }
            </div>
        </div>

    </div>
    @if(listVisible) {
        <div class="action-box col-12 mt-3">
            <lista-uczestnikow class="col-12" [eventId]="event.id"></lista-uczestnikow>
        </div>
    }
    @if(removeVisible) {
        <div class="action-box col-12 mt-3 d-flex flex-column align-items-center" >
            <szukaj-uczestnika (findUserEvent)="findUsers($event)"></szukaj-uczestnika>
            <div class="users-list w-100 mt-3">
                <div class="user-header">
                    <label class="form-label">ID</label>
                    <label class="form-label">Imię</label>
                    <label class="form-label">Nazwisko</label>
                </div>
            @for(user of users; track user.id) {
                <usun-uczestnika [user]="user" [event]="event" class="user-item mb-2"></usun-uczestnika>
            }
        </div>
        </div>
    }
    @if(addVisible) {
        <div class="action-box col-12 mt-3 d-flex flex-column align-items-center">
            <szukaj-uczestnika (findUserEvent)="findUsers($event)"></szukaj-uczestnika>
            
            <div class="users-list w-100 mt-3">
                <div class="user-header">
                    <label class="form-label">ID</label>
                    <label class="form-label">Imię</label>
                    <label class="form-label">Nazwisko</label>
                </div>
            
                @for(user of users; track user.id) {
                    <dodaj-uczestnika class="user-item col-12 mb-2" [user]="user" [event]="event"></dodaj-uczestnika>
                }
            </div>
        </div>
    }
    
</div>