<div class="container mt-3">
    <div class="action-box col-12">
        <div class="action-details col-2">
            <h3 style="font-weight: 700;">{{ event.title }}</h3>
            <p><strong>Data:</strong> {{ event.date }}</p>
            <p><strong>Lokalizacja:</strong> {{ event.location }}</p>
            <button class="btn" [routerLink]="['/szczegóły-akcji', event?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Szczegóły Akcji</button>
            <button class="btn" [routerLink]="['/edytuj-akcje', event?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Edytuj Akcje</button>
        </div>
        <div class="col-3">
            <p><strong>Opis:</strong> {{ event.description }}</p>
        </div>
        <div class="action-buttons col-2">
           
            <button class="btn" (click)="toggleList()">Pokaż listy uczestników</button>
            <button class="btn" (click)="toggleAdd()">Dodaj uczestnika do listy</button>
            <button class="btn" (click)="toggleRemove()">Usuń uczestnika z listy</button>
            
        </div>
         <!-- Lista Podstawowa -->
        <div class="col-4 text-center">
            <h6 class="mb-2">Lista podstawowa:</h6>
            <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
                
                @if(event.seats <= 0){
                    <button
                    type="button"
                    class="btn btn-secondary"
                    >
                    {{ event.time }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ event.seats }}</small>
                  </button>
                } @else {
                <button
                    type="button"
                    class="btn btn-primary"
                >
                    {{ event.time }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ event.seats }}</small>
                </button>
                }
                <!--
               @for(czas of zapis.basicList;track czas.id){
                @if(czas.spots=== 0){
                    <button
                    type="button"
                    class="btn btn-secondary"
                    >
                    {{ czas.hour }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                  </button>
                }
                @else if(czas.spots>0){
                <button
                    type="button"
                    class="btn btn-primary"
                >
                    {{ czas.hour }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                </button>
                }
               } -->
            </div>
            <!-- Lista Rezerwowa
            <h6 class="mb-2">Lista rezerwowa:</h6>
            <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
                @for(czas of zapis.reserveList;track czas.id){
                    @if(czas.spots=== 0){
                        <button
                        type="button"
                        class="btn btn-secondary"
                        >
                        {{ czas.hour }}
                        <br />
                        <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                      </button>
                    }
                    @else if(czas.spots>0){
                    <button
                    type="button"
                    class="btn btn-primary"
                  >
                    {{ czas.hour }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                  </button>
                }
                   }
            </div> -->
           
        </div>

    </div>
    @if(listVisible) {
        <div class="action-box col-12">
            <lista-uczestnikow class="col-2" [event]="event"></lista-uczestnikow>
        </div>
    }
    @if(removeVisible) {
        <div class="action-box col-12">
            <szukaj-uczestnika (findUserEvent)="findUsers($event)"></szukaj-uczestnika>
            @for(user of users; track trackUsersId()) {
                <usun-uczestnika [user]="user" [event]="event"></usun-uczestnika>
            }
        </div>
    }
    @if(addVisible) {
        <div class="action-box col-12">
            <szukaj-uczestnika (findUserEvent)="findUsers($event)"></szukaj-uczestnika>
            @for(user of users; track trackUsersId()) {
                <dodaj-uczestnika [user]="user" [event]="event"></dodaj-uczestnika>
            }
        </div>
    }
</div>