
@for(action of actions; track action.id){
  

    <div class="container mt-3">
        <div class="action-box col-12">
            <div class="action-details col-2">
                <h3 style="font-weight: 700;">{{ action.title }}</h3>
                <p><strong>Data:</strong> {{ action.date }}</p>
                <p><strong>Lokalizacja:</strong> {{ action.location }}</p>
                <button class="btn" >Edytuj Akcje</button>
            </div>
            <div class="col-3">
                <p><strong>Opis:</strong> {{ action.shortDescription }}</p>
            </div>
            <div class="action-buttons col-2">
               
                <button class="btn" >Pokaż listy uczestników</button>
                <button class="btn" >Dodaj uczesnika do listy</button>
                <button class="btn" >Usuń uczesnika z listy</button>
                
            </div>
             <!-- Lista Podstawowa -->
            <div class="col-4 text-center">
                <h6 class="mb-2">Lista podstawowa:</h6>
                <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">

                   @for(czas of action.basicList;track czas.id){
                    @if(czas.spots=== 0){
                        <button
                        type="button"
                        class="btn btn-secondary"
                        >
                        {{ czas.hour }}
                        <br />
                        <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                      </button>
                    }
                    @else if(czas.spots>0){
                    <button
                    type="button"
                    class="btn btn-primary"
                  >
                    {{ czas.hour }}
                    <br />
                    <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                  </button>
                }
                   }
                </div>
                <!-- Lista Rezerwowa -->
                <h6 class="mb-2">Lista rezerwowa:</h6>
                <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
                    @for(czas of action.reserveList;track czas.id){
                        @if(czas.spots=== 0){
                            <button
                            type="button"
                            class="btn btn-secondary"
                            >
                            {{ czas.hour }}
                            <br />
                            <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                          </button>
                        }
                        @else if(czas.spots>0){
                        <button
                        type="button"
                        class="btn btn-primary"
                      >
                        {{ czas.hour }}
                        <br />
                        <small class="text-white">Liczba miejsc: {{ czas.spots }}</small>
                      </button>
                    }
                       }
                </div>
               
        </div>
         
        </div>
    </div>
    }
    
    