<div class="container mt-4">
  <div class="row">
    <!-- Sekcja Obrazów -->
    <div class="col-lg-6 col-md-12 order-md-1">
      <div class="row">
        <div class="col-12 mb-2" style="display: flex; justify-content: center; align-items: center;">
          <img src="https://sklep.lambda.pl/userdata/public/gfx/5826/folia-banerowa-na-plandeki-Oracal-seria-451-049-ciemnoniebieska-king-blue.jpg" alt="Obraz" class="img-fluid rounded">
        </div>
        <div class="col-6">
          <img src="https://sklep.lambda.pl/userdata/public/gfx/5826/folia-banerowa-na-plandeki-Oracal-seria-451-049-ciemnoniebieska-king-blue.jpg" alt="Obraz" class="img-fluid rounded">
        </div>
        <div class="col-6">
          <img src="https://sklep.lambda.pl/userdata/public/gfx/5826/folia-banerowa-na-plandeki-Oracal-seria-451-049-ciemnoniebieska-king-blue.jpg" alt="Obraz" class="img-fluid rounded">
        </div>
      </div>
    </div>

    <!-- Szczegóły Akcji -->
    <div class="col-lg-6 col-md-12 order-md-2">
      <div class="karta">
        <div class="d-flex justify-content-between align-items-center mb-3">
          @if(eventDetails) {
            <h3>{{eventDetails?.title}}</h3>
            <p class="card-subtitle mb-2 text-muted">{{eventDetails?.date}},<br>{{eventDetails?.location}}</p>
          }
          @if(eventDetails?.seats==0||!isLoggedIn){
            <button class="btn btn-primary btn-sm udz" (click)="joinEvent()" disabled>
              Weź Udział!
            </button>
            }
            @else {
            <button class="btn btn-primary btn-sm udz" (click)="joinEvent()">
              Weź Udział!
            </button>
            } 
        </div>
        <hr>
        <h3>Dostępne godziny</h3>
        <h6 class="mb-2">Lista podstawowa:</h6>
        <div class="d-flex flex-wrap gap-2 mb-3 justify-content-center">
          @if(eventDetails?.seats==0){
            <button class="  btn btn-secondary " style="width: 100%;" disabled>
              {{eventDetails?.time}}
              <br>
              <small class="text-white ">Liczba miejsc: {{eventDetails?.seats}}</small>
            </button>
            }
            @else {
            <div class="  btn btn-primary " style="width: 100%; ">
              {{eventDetails?.time}}
              <br>
              <small class="text-white ">Liczba miejsc: {{eventDetails?.seats}}</small>
            </div>
            }
          </div>
         <!-- Opis -->
        <div class="karta mt-2">
          <h3>Opis</h3>
          <p class="text-muted">
            {{eventDetails?.description}}
          </p>
          <!-- Przycisk z routerLink -->
           @if(isLoggedIn && userRole === "administrator") {
            <button class="btn btn-primary w-100" [routerLink]="['/akcje/edytuj', eventDetails?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">
              Edytuj wydarzenie
            </button><br>
            <button class="btn btn-primary w-100 btn-danger" (click)="deleteEvent(eventDetails?.id)">
              Usuń wydarzenie
            </button>
           }
      </div>

  </div>
</div>