<div class="container d-flex justify-content-center align-items-center">
    <div class="login-container card p-4 shadow-sm">
      <h2 class="text-center mb-4">Zaloguj się na swoje konto</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="d-flex flex-column align-items-center">
        <div class="mb-3 col-10">
          <label for="login" class="form-label">Login</label>
          <input type="text" id="login" formControlName="login" class="form-control" placeholder="Wprowadź login">
          <div *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched" class="text-danger">
            Login jest wymagany
          </div>
        </div>
        <div class="mb-3 col-10">
          <label for="password" class="form-label">Hasło</label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Wprowadź hasło">
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
            Hasło jest wymagane
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-75 mt-3" [disabled]="loginForm.invalid">Zaloguj się</button>
       
      </form>
      <p class="text-center mt-3">
        Nie jesteś zweryfikowany? <a routerLink="/rejestracja-component">Zarejestruj się</a>
      </p>
    </div>
  </div>
  