<div class="card">
  <h2>Edycja akcji</h2>
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
    <!-- Tytuł -->
    <div class="form-group">
      <label for="title">Tytuł:</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="eventForm.get('title')?.errors?.['required'] && eventForm.get('title')?.touched" class="error">
        Tytuł jest wymagany.
      </div>
    </div>

    <!-- Opis -->
    <div class="form-group">
      <label for="description">Opis:</label>
      <input type="text" id="description" formControlName="description">
      <div *ngIf="eventForm.get('description')?.errors?.['required'] && eventForm.get('description')?.touched"
        class="error">
        Opis jest wymagany.
      </div>
    </div>

    <!-- Data -->
    <div class="form-group">
      <label for="date">Data:</label>
      <input type="date" id="date" formControlName="date">
      <div *ngIf="eventForm.get('date')?.errors?.['required'] && eventForm.get('date')?.touched" class="error">
        Data jest wymagana!
      </div>
    </div>

    <!-- Godzina -->
    <div class="form-group">
      <label for="time">Godzina:</label>
      <input type="time" id="time" formControlName="time">
      <div *ngIf="eventForm.get('time')?.errors?.['required'] && eventForm.get('time')?.touched" class="error">
        Godzina jest wymagana!
      </div>
    </div>

    <!-- Lokacja -->
    <div class="form-group">
      <label for="location">Lokacja:</label>
      <input type="text" id="location" formControlName="location">
      <div *ngIf="eventForm.get('location')?.errors?.['required'] && eventForm.get('location')?.touched" class="error">
        Lokacja jest wymagana!
      </div>
    </div>

    <!-- Liczba miejsc -->
    <div class="form-group">
      <label for="seats">Liczba miejsc:</label>
      <input type="number" id="seats" formControlName="seats" min="1">
      <div *ngIf="eventForm.get('seats')?.errors?.['required'] && eventForm.get('seats')?.touched" class="error">
        Liczba miejsc jest wymagana!
      </div>
      <div *ngIf="eventForm.get('seats')?.errors?.['min'] && eventForm.get('seats')?.touched" class="error">
        Liczba miejsc musi być większa niż 0!
      </div>
    </div>

    <button type="submit">Zapisz zmiany</button>
  </form>
</div>