.gn{background-color: #007bff;
    border-radius: 40px;
    .btn{border-radius: 40px;}}
.kon{
        background-color: #f9f9f9 !important;
        color: #007bff !important;
    } 
     h1{
        color: #007bff;
        font-weight: 700;
    }
    .participant-card {
        border: 3px solid #007bff;
        border-radius: 40px;
        padding: 15px;
        margin-bottom: 15px;
      }
      .participant-card img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      .action-buttons button {
        width: 48%;
      }