.gn{background-color: #007bff;
    border-radius: 40px;
    .btn{border-radius: 40px;}}
.kon{
        background-color: #f9f9f9 !important;
        color: #007bff !important;
    }  h1{
        color: #007bff;
        font-weight: 700;
    }